<!-- this line is not needed; it is only used to declare xmlns syntax -->
<html th:fragment="head" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <!-- smooth-scrolling-of-move-up -->
    <script type="text/javascript" th:src="@{/js/move-top.js}"></script>
    <script type="text/javascript" th:src="@{/js/easing.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var message = /*[[${message}]]*/ 'default';

        console.log(message);
        console.log(message === null);

        var type = /*[[${type}]]*/ 'default';


        /*
        *
        * It's worth noting that the default will only be used when running the page statically,
        * i.e. outside a web container. If ran inside a container and the variable message hasn't
        * been declared the resulting source code will be var message = null;
        *
        * */

        $(document).ready(function() {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            if(message === null){}

            else {

                switch(type){

                    case 'success':
                        toastr.success(message);
                        break;

                    case 'warning':
                        toastr.warning(message);
                        break;

                    case 'error':
                        toastr.error(message);
                        break;

                    case 'info':
                    default:
                        toastr.info(message);
                }

            }


        });

        /*]]>*/
    </script>

    <script type="text/javascript">

    </script>
</html>