<div class="footer">
    <div class="container">
        <div class="footer-agileinfo">
            <div class="col-md-6 footer-right">
                <div class="footer-right-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.3325806109174!2d13.380705315182801!3d42.35675097918705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132fcd6e60615377%3A0x5a65eca9a0cd9f3e!2sUniversity+of+L&#39;Aquila!5e0!3m2!1sen!2sit!4v1535794571534"
                            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-6 footer-left">
            <div class="w3-agileitsicons">
                <ul>
                    <li><a href="https://www.facebook.com/univaq.it/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li><a class="twt" href="https://twitter.com/univaq"><i class="fa fa-twitter"
                                                                            aria-hidden="true"></i> </a></li>
                    <li><a class="drbl" href="https://www.linkedin.com/school/universit-degli-studi-dell'aquila/"><i
                            class="fa fa-linkedin" aria-hidden="true"></i> </a></li>
                </ul>
            </div>
            <div class="f-address">
                <p class="text">Università degli Studi dell&#39;Aquila - Via Giovanni Di Vincenzo 16/B, 67100 L&#39;Aquila (AQ)</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>