<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="header">
    <!-- header-top -->
    <div class="header-top">
        <!-- container -->
        <div class="container">
            <div class="social w3-agileitsicons">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a class="twt" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
                    <li><a class="drbl" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> </a></li>
                    <li><a class="be" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i> </a></li>
                </ul>
            </div>
            <div class="w3layouts-details">
                <ul>
                    <li><a href="mailto:@example.com"><span class="glyphicon glyphicon-envelope"
                                                            aria-hidden="true"></span>info@example.com</a></li>
                    <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>(+1) 000 123 456789</li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- //container -->
    </div>
    <!-- //header-top -->
    <!-- header -->
    <div class="header">
        <!-- container -->
        <div class="container">
            <div class="header-bottom">
                <div class="w3ls-logo">
                    <h1><a th:href="@{/}">Internship <span>Tutor</span></a></h1>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="top-nav max-width-1140">
                <nav class="navbar navbar-default">
                    <div class="container">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">Menu
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="home-icon"><a th:href="@{/}"><span class="glyphicon glyphicon-home"
                                                                                aria-hidden="true"></span></a></li>
                            <li><a th:href="@{/}" class="active">Home</a></li>

                            <!-- TODO Student/Anonymous only -->
                            <li><a href="">Affiliated companies</a></li>

                            <!-- TODO parametric student/company not visible to anonymous-->
                            <li><a th:href="@{/dashboard/admin}" href="">Dashboard </a></li>

                            <!-- TODO Admin only -->
                            <li>
                                <a href="#" class="dropdown-toggle hvr-bounce-to-bottom"
                                   data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="true">Actions
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu squared">
                                    <!-- company submenu -->
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle"
                                           data-toggle="dropdown-submenu"
                                           role="button" aria-haspopup="true"
                                           aria-expanded="false">Companies
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu squared">
                                            <li><a th:href="@{/create/company}" href="">Create</a></li>
                                            <li><a th:href="@{/report/companies}" href="">Report</a></li>
                                        </ul>
                                    </li>

                                    <!-- degree submenu -->
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle"
                                           data-toggle="dropdown-submenu"
                                           role="button" aria-haspopup="true"
                                           aria-expanded="false">Degrees
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu squared">
                                            <li><a th:href="@{/create/degree}" href="">Create</a></li>
                                            <li><a th:href="@{/report/degrees}" href="">Report</a></li>
                                        </ul>
                                    </li>

                                    <!-- department submenu -->
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle"
                                           data-toggle="dropdown-submenu"
                                           role="button" aria-haspopup="true"
                                           aria-expanded="false">Departments
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu squared">
                                            <li><a th:href="@{/create/department}" href="">Create</a></li>
                                            <li><a th:href="@{/report/departments}" href="">Report</a></li>
                                        </ul>
                                    </li>

                                    <!-- internship submenu -->
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle"
                                           data-toggle="dropdown-submenu"
                                           role="button" aria-haspopup="true"
                                           aria-expanded="false">Internships
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu squared">
                                            <li><a th:href="@{/create/internship}" href="">Create</a></li>
                                            <li><a th:href="@{/report/internships}" href="">Report</a></li>
                                        </ul>
                                    </li>

                                    <!-- professors submenu -->
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle"
                                           data-toggle="dropdown-submenu"
                                           role="button" aria-haspopup="true"
                                           aria-expanded="false">Professors
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu squared">
                                            <li><a th:href="@{/create/professor}" href="">Create</a></li>
                                            <li><a th:href="@{/report/professors}" href="">Report</a></li>
                                        </ul>
                                    </li>

                                    <!-- professors submenu -->
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle"
                                           data-toggle="dropdown-submenu"
                                           role="button" aria-haspopup="true"
                                           aria-expanded="false">Students
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu squared">
                                            <li><a th:href="@{/create/student}" href="">Create</a></li>
                                            <li><a th:href="@{/report/students}" href="">Report</a></li>
                                        </ul>
                                    </li>

                                    <!-- student-internships submenu -->
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle"
                                           data-toggle="dropdown-submenu"
                                           role="button" aria-haspopup="true"
                                           aria-expanded="false">Student - Internships
                                            <span class="caret "></span>
                                        </a>
                                        <ul class="dropdown-menu squared">
                                            <li><a th:href="@{/create/studentinternship}" href="">Create</a></li>
                                            <li><a th:href="@{/report/studentinternships}" href="">Report</a></li>
                                        </ul>
                                    </li>

                                    <!-- user submenu -->
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle"
                                           data-toggle="dropdown-submenu"
                                           role="button" aria-haspopup="true"
                                           aria-expanded="false">Users
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu squared">
                                            <li><a th:href="@{/create/user}" href="">Create</a></li>
                                            <li><a th:href="@{/report/users}" href="">Report</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <!-- TODO Student only -->
                            <th:block th:if="1 == 0">
                                <li>
                                    <a href="#"
                                       class="dropdown-toggle hvr-bounce-to-bottom"
                                       data-toggle="dropdown"
                                       role="button" aria-haspopup="true" aria-expanded="false">Internships
                                        <span class="caret"></span>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li><a class="hvr-bounce-to-bottom" href="#">Completed </a></li>
                                        <li><a class="hvr-bounce-to-bottom" href="#">Pending </a></li>
                                    </ul>
                                </li>
                            </th:block>

                            <!-- TODO Company only -->
                            <th:block th:if="1 == 0">
                                <li><a href="">Published offers</a></li>
                                <li><a href="">Publish an offer</a></li>
                            </th:block>


                            <li class="login w3">
                                <div id="loginContainer"><a href="#" id="loginButton"><span>Login</span></a>
                                    <div id="loginBox">
                                        <form id="loginForm" action="#" method="post">
                                            <fieldset id="body">
                                                <fieldset>
                                                    <label for="email">Email Address</label>
                                                    <input type="text" name="email" id="email" required="">
                                                </fieldset>
                                                <fieldset>
                                                    <label for="password">Password</label>
                                                    <input type="password" name="password" id="password" required="">
                                                </fieldset>
                                                <input type="submit" id="login" value="Sign in">
                                                <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember
                                                    me</i></label>
                                            </fieldset>
                                            <span><a href="#">Forgot your password?</a></span>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- //container -->
    </div>
    <!-- //header -->
</div>
</body>