<!-- this line is not needed; it is only used to declare xmlns syntax -->
<html th:fragment="head" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- TODO add keywords -->
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
    <link th:href="@{/css/style.css}" rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <link th:href="@{/css/font-awesome.css}" href="/static/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <!-- //Custom Theme files -->
    <link th:href="@{/css/custom.css}" rel="stylesheet" href="/static/css/custom.css" type="text/css"/>
    <link th:href="@{/plugins/toastr/toastr.css}" href="/static/plugins/toastr/toastr.css" rel="stylesheet" type="text/css" />

    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700" rel="stylesheet" type="text/css">
    <!-- //fonts -->
</html>
