<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="report_table(page, collection, nameS, nameP)">
    <h3 class="w3ls-hdg" th:text="${nameP + ' List'}">List</h3>
    <div th:if="${!collection.isEmpty()}">
        <table class="table table-fixed table-bordered squared">
            <thead>
            <tr>
                <th class="col-xs-1 text-center">#</th>
                <th class="col-xs-10">Entry</th>
                <th class="col-xs-1 text-right">Action</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="item, iterationStatus : ${collection}">
                <td th:text="${iterationStatus.count + (page.getSize() * (page.getNumber()-1))}" class="col-xs-1 no-border-right text-center">
                </td>
                <td th:text="${item.getInfo()}" class="col-xs-10 no-border-right">
                </td>
                <td class="col-xs-1 text-right">
                    <a th:href="@{'/update/'+${nameS}+'/'+${item.getId()}}"
                       class="btn-default-border btn-xs squared">
                        <i class="fa fa-edit"></i>
                        Edit
                    </a>
                </td>
            </tr>

            </tbody>
        </table>

    </div>
    <div class="well" th:unless="${!collection.isEmpty()}" th:text="${'There are no '+nameP+' yet!'}">
        Empty report message
    </div>
</th:block>


</body>
</html>