/* toastr custom ccs - to appear under the header */
.toast-top-right {
    top: 12px;
    right: 12px;
    margin-top: 68px;
}

.toast-top-left {
    top: 12px;
    right: 12px;
    margin-top: 68px;
}

.toast {
    opacity: 1;
}

/* custom */
.btn.btn-square {
    border-radius: 0;
}
.squared{
    border-radius: 0!important;
}
.my-small-alert{
    padding: 9px!important;
    margin-bottom: 0!important;
}

.no-margin-bottom{
    margin-bottom: 0!important;
}

.textarea-long{
    height: auto!important;
}

.form-image{
    height: 198px;
    width: 198px;
}

.profile-image{
    height: 100%;
    width: 100%;
    max-height: 256px;
    max-width: 256px;
}

.my-group-list{
    margin-bottom: 0!important
}

.file-upload{
    padding-top: 9px!important;
}

.table-fixed {
    width: 100%;
    border: 0!important;
    /*background-color: #f3f3f3;*/
}
.table-fixed tbody {
    /*height: 450px;*/
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    /*display: block;*/
}

.table-fixed thead{
    border-top: 1px solid #10c7bf!important;
}

.table-fixed thead tr th{
    background-color: #10c7bf;
    border-color: #10c7bf;
    color: #fff;
}

.table-fixed tbody{
    border: 0!important;
}

.table-fixed tbody td {
    float: left;
    /*overflow: hidden!important;*/
    /*text-overflow: ellipsis!important;*/
    overflow-x:auto!important;
    white-space: nowrap!important;
}

.table-fixed thead th{
    overflow-x:auto!important;
    white-space: nowrap!important;
}

.table-fixed thead tr th {
    float: left;
}

.hover-effect>tbody>tr{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
    outline: none;
}


.black a{
    color: #000!important;
}

.hover-effect>tbody>tr:hover{
    background-color: #f5f5f5!important;
}

.no-border-right{
    border-right: 0!important;
}

.pagination > li:first-child > a, .pagination > li:first-child > span{
    border-radius: 0!important;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0!important;
}
.register {
    padding: 8px 30px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 0;
}


.form-header-20 {
    padding-left: 45px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.form-header-10 {
    padding-left: 45px;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 600;
}

.text-left {
    text-align: left !important;
}

.margin-bottom-30{
    margin-bottom: 30px!important;
}

.padding-top-30{
    padding-top: 30px!important;
}
.badge-custom {
    background-color: #10c7bf;
}

.list-group-alternate{
    border-radius: 0!important;
}

.max-width-1140{
    max-width: 1140px!important;
}

.margin-top-42{
    margin-top: 42px!important;
}

.white-text{
    color: #fff!important;
}

.btn-default-border{
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
}
.btn-warning-border{
    color: #fff!important;
    background-color: #f0ad4e;
    border: 1px solid #eea236;
}
.btn-danger-border{
    color: #fff!important;
    background-color: #d9534f;
    border: 1px solid #d43f3a;
}
.btn-info-border{
    color: #fff!important;
    background-color: #10c7bf;
    border: 1px solid #12a29c;
}
.btn-success-border{
    color: #fff!important;
    background-color: #51A351;
    border: 1px solid #499249;
}

.margin-right-5{
    margin-right: 5px!important;
}

.student-accepted-bg > td{
    background-color: rgba(81, 163, 81, 0.25) !important;
    border-color: rgba(81, 163, 81, 0.25) !important;
    color: #2f2f2f !important;
}

.student-rejected-bg > td{
    background-color: rgba(217, 83, 79, 0.25) !important;
    border-color: rgba(217, 83, 79, 0.25) !important;
    color: #2f2f2f !important;
}

.no-padding-left{
    padding-left: 0!important;
}

.no-padding-right{
    padding-right: 0!important;
}

.list-group-item{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration:none;
    outline:none;
}

.loginButton{
    color: #FFF!important;
}

.btn{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration:none;
    outline:none;
}