/* toastr custom ccs - to appear under the header */
.toast-top-right {
    top: 12px;
    right: 12px;
    margin-top: 68px;
}

.toast-top-left {
    top: 12px;
    right: 12px;
    margin-top: 68px;
}

.toast {
    opacity: 1;
}


/* scrollable table */
.scrollable{
    height: 350px;
    overflow-y: scroll;
}

/* custom */
.btn.btn-square {
    border-radius: 0;
}
.squared{
    border-radius: 0!important;
}
.my-small-alert{
    padding: 9px!important;
    margin-bottom: 0!important;
}

.no-margin-bottom{
    margin-bottom: 0!important;
}

.textarea-long{
    height: auto!important;
}

.form-image{
    height: 198px;
    width: 198px;
}

.file-upload{
    padding-top: 9px!important;
}

.table-fixed {
    width: 100%;
    border: 0!important;
    /*background-color: #f3f3f3;*/
}
.table-fixed tbody {
    /*height: 450px;*/
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}

.table-fixed thead{
    border-top: 1px solid #10B4AC!important;
}

.table-fixed thead tr th{
    background-color: #10B4AC;
    border-color: #10B4AC;
    color: #fff;
}

.table-fixed tbody{
    border: 0!important;
}

.table-fixed tbody td {
    float: left;
}
.table-fixed thead tr th {
    float: left;
}

.no-border-right{
    border-right: 0!important;
}

.pagination > li:first-child > a, .pagination > li:first-child > span{
    border-radius: 0!important;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0!important;
}



