<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up as Company</title>
    <!-- head -->
    <meta th:replace="fragments/head :: head">
    <!-- head -->
    <!-- head_scripts -->
    <meta th:replace="fragments/head_scripts :: head_scripts">
    <!-- head_scripts -->
</head>
<body>


<!-- header -->
<div th:replace="fragments/header :: header"></div>
<!-- header -->

<div class="codes about">
    <div class="container">
        <div id="forms" class="grid_3 grid_4">
            <h3 class="w3ls-hdg">Sign up as Company</h3>
            <div class="col-md-12">
                <form method="POST" enctype="multipart/form-data"
                      th:action="@{/register/company}"
                      class="form-horizontal register">
                    <div class="form-group">
                        <div class="col-sm-12 form-header-20"><b>Account</b></div>
                    </div>
                    <div class="form-group">
                        <!-- label -->
                        <label for="email" class="col-sm-3 control-label">Email</label>
                        <!-- input -->
                        <div class="col-sm-9">
                            <input type="email" th:value="${user.email}" name="email" class="form-control1" id="email"
                                   placeholder="Insert email">
                        </div>
                        <!-- error box -->
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="alert alert-danger squared my-small-alert"
                                 role="alert"
                                 th:if="${#fields.hasErrors('user.email')}"
                                 th:errors="*{user.email}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control1" th:value="${user.password}" name="password"
                                   id="inputPassword" placeholder="Password">
                        </div>
                        <!-- error box -->
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="alert alert-danger squared my-small-alert"
                                 role="alert"
                                 th:if="${#fields.hasErrors('user.password')}"
                                 th:errors="*{user.password}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="repeatPassword" class="col-sm-3 control-label">Repeat Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control1" name="repeatPassword" id="repeatPassword"
                                   placeholder="Type again Password">
                        </div>
                    </div>
                    <!-- image -->
                    <div class="form-group">

                        <!-- label -->
                        <label for="imageFile" class="col-sm-3 control-label">Profile Image</label>
                        <!-- input -->
                        <div class="col-sm-9">
                            <input type="file" class="form-control1 file-upload" name="imageFile" id="imageFile"
                                   placeholder="Upload an image">
                        </div>

                        <input type="hidden" th:value="${user.image}" name="image" id="image">

                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 form-header-20"><b>Personal Data</b></div>
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="col-sm-3 control-label">First Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control1" th:value="${user.firstName}" name="firstName"
                                   id="firstName" placeholder="First Name">
                        </div>
                        <!-- error box -->
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="alert alert-danger squared my-small-alert"
                                 role="alert"
                                 th:if="${#fields.hasErrors('user.firstName')}"
                                 th:errors="*{user.firstName}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="col-sm-3 control-label">Last Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control1" id="lastName" th:value="${user.lastName}"
                                   name="lastName" placeholder="Last Name">
                        </div>
                        <!-- error box -->
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="alert alert-danger squared my-small-alert"
                                 role="alert"
                                 th:if="${#fields.hasErrors('user.lastName')}"
                                 th:errors="*{user.lastName}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 form-header-20"><b>Company Data</b></div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control1" th:value="${company.name}" name="name" id="name"
                                   placeholder="Company name">
                        </div>
                        <!-- error box -->
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="alert alert-danger squared my-small-alert"
                                 role="alert"
                                 th:if="${#fields.hasErrors('company.name')}"
                                 th:errors="*{company.name}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control1" id="address" th:value="${company.address}"
                                   name="address" placeholder="Company address">
                        </div>
                        <!-- error box -->
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="alert alert-danger squared my-small-alert"
                                 role="alert"
                                 th:if="${#fields.hasErrors('company.address')}"
                                 th:errors="*{company.address}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber" class="col-sm-3 control-label">Phone Number</label>
                        <div class="col-sm-9">
                            <input type="tel" class="form-control1" id="phoneNumber" th:value="${user.phoneNumber}"
                                   name="phoneNumber" placeholder="Phone Number">
                        </div>
                        <!-- error box -->
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="alert alert-danger squared my-small-alert"
                                 role="alert"
                                 th:if="${#fields.hasErrors('user.phoneNumber')}"
                                 th:errors="*{user.phoneNumber}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fiscalCode" class="col-sm-3 control-label">Fiscal Code</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control1" th:value="${company.fiscalCode}" name="fiscalCode"
                                   id="fiscalCode" placeholder="Fiscal Code">
                        </div>
                        <!-- error box -->
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="alert alert-danger squared my-small-alert"
                                 role="alert"
                                 th:if="${#fields.hasErrors('company.fiscalCode')}"
                                 th:errors="*{company.fiscalCode}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="vatNumber" class="col-sm-3 control-label">VAT Number</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control1" th:value="${company.vatNumber}" name="vatNumber"
                                   id="vatNumber" placeholder="Company VAT number">
                        </div>
                        <!-- error box -->
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="alert alert-danger squared my-small-alert"
                                 role="alert"
                                 th:if="${#fields.hasErrors('company.vatNumber')}"
                                 th:errors="*{company.vatNumber}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="attorney" class="col-sm-3 control-label">Attorney</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control1" th:value="${company.attorney}" name="attorney"
                                   id="attorney" placeholder="Attorney">
                        </div>
                        <!-- error box -->
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="alert alert-danger squared my-small-alert"
                                 role="alert"
                                 th:if="${#fields.hasErrors('company.attorney')}"
                                 th:errors="*{company.attorney}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="jurisdiction" class="col-sm-3 control-label">Jurisdiction</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control1" th:value="${company.jurisdiction}"
                                   name="jurisdiction" id="jurisdiction" placeholder="Jurisdiction">
                        </div>
                        <!-- error box -->
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="alert alert-danger squared my-small-alert"
                                 role="alert"
                                 th:if="${#fields.hasErrors('company.jurisdiction')}"
                                 th:errors="*{company.jurisdiction}">
                            </div>
                        </div>
                    </div>

                    <!-- submit -->
                    <div class="form-group padding-top-30 margin-bottom-30">
                        <div class="col-sm-offset-2 col-sm-9">
                            <input type="submit" class="btn btn-info btn-block pull-right squared btn-lg"
                                   value="Submit Registration"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="fragments/footer"></div>
<!-- footer -->
<!-- footer_scripts -->
<div th:replace="fragments/footer_scripts"></div>
<!-- footer_scripts -->

</body>
</html>