<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${userType+' dashboard'}"></title>
    <!-- head -->
    <meta th:replace="fragments/head :: head">
    <!-- head -->
    <!-- head_scripts -->
    <meta th:replace="fragments/head_scripts :: head_scripts">
    <!-- head_scripts -->
</head>
<body>


<!-- header -->
<div th:replace="fragments/header :: header"></div>
<!-- header -->

<div class="codes about">
    <div class="container">
        <div id="forms" class="grid_3 grid_4">

            <div class="row margin-bottom-30">
                <!-- image -->
                <div class="col-md-4">
                    <img src="" th:src="${'/files/images/'+user.getImage()}" class="profile-image">
                </div>
                <!-- student details -->
                <div class="col-md-8">
                    <h3 class="w3ls-hdg">Info</h3>
                    <div class="list-group list-group-alternate my-group-list black squared">
                        <span class="list-group-item"><span class="badge" th:text="${user.getCompany().getName()}">value</span> Name</span>
                        <span class="list-group-item"><span class="badge" th:text="${user.getEmail()}">value</span> Email</span>
                        <span class="list-group-item"><span class="badge" th:text="${user.getCompany().getVatNumber()}">value</span> VAT n.</span>
                        <span class="list-group-item"><span class="badge" th:text="${user.getCompany().getFiscalCode()}">value</span> Fiscal Code</span>
                        <span class="list-group-item"><span class="badge" th:text="${user.getCompany().getAttorney()}">value</span> Attorney</span>

                    </div>
                </div>
            </div>

            <!-- active internships -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="w3ls-hdg">Active internships</h3>
                    <div th:if="${!activeInternships.isEmpty()}">
                        <table class="table table-fixed table-bordered hover-effect">
                            <thead>
                            <tr>
                                <th class="col-xs-1 text-center">#</th>
                                <th class="col-xs-8">Title</th>
                                <th class="col-xs-3 text-right">Action</th>

                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="item, iterationStatus : ${activeInternships}">
                                <td th:text="${iterationStatus.count}" class="col-xs-1 no-border-right text-center">
                                </td>
                                <td th:text="${item.getTitle()}" class="col-xs-8 no-border-right">
                                </td>
                                <td class="col-xs-3 text-right">
                                    <a th:href="@{${'/update/internship/'+user.getCompany().getId()+'/'+item.getId()}}"
                                       class="btn-default-border btn-xs squared">
                                        <i class="fa fa-edit"></i>
                                        Edit
                                    </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="well" th:unless="${!activeInternships.isEmpty()}" th:text="${'No active internships yet!'}">
                        Empty report message
                    </div>
                </div>
            </div>

            <!-- inactive internships -->
            <div class="row padding-top-30">
                <div class="col-md-12">
                    <h3 class="w3ls-hdg">Inactive internships</h3>
                    <div th:if="${!inactiveInternships.isEmpty()}">
                        <table class="table table-fixed table-bordered hover-effect">
                            <thead>
                            <tr>
                                <th class="col-xs-1 text-center">#</th>
                                <th class="col-xs-8">Title</th>
                                <th class="col-xs-3 text-right">Action</th>

                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="item, iterationStatus : ${inactiveInternships}">
                                <td th:text="${iterationStatus.count}" class="col-xs-1 no-border-right text-center">
                                </td>
                                <td th:text="${item.getTitle()}" class="col-xs-8 no-border-right">
                                </td>
                                <td class="col-xs-3 text-right">
                                    <a th:href="@{${'/update/internship/'+user.getCompany().getId()+'/'+item.getId()}}"
                                       class="btn-default-border btn-xs squared">
                                        <i class="fa fa-edit"></i>
                                        Edit
                                    </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="well" th:unless="${!inactiveInternships.isEmpty()}" th:text="${'No inactive internships!'}">
                        Empty report message
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<!-- footer -->
<div th:replace="fragments/footer"></div>
<!-- footer -->
<!-- footer_scripts -->
<div th:replace="fragments/footer_scripts"></div>
<!-- footer_scripts -->

</body>
</html>