<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${userType+' dashboard'}"></title>
    <!-- head -->
    <meta th:replace="fragments/head :: head">
    <!-- head -->
    <!-- head_scripts -->
    <meta th:replace="fragments/head_scripts :: head_scripts">
    <!-- head_scripts -->
</head>
<body>


<!-- header -->
<div th:replace="fragments/header :: header"></div>
<!-- header -->

<div class="codes about">
    <div class="container">
        <div id="forms" class="grid_3 grid_4">
            <!-- if there are companies waiting for approval -->
            <th:block th:if="1==0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-warning" role="alert">

                            <strong>Warning!</strong>
                            <th:block th:if="1==0" th:text="${'There are '+ 5 +' companies awaiting for approval.'}">
                                will be replaced
                            </th:block>
                            <th:block th:if="1==1" th:text="${'There is one company awaiting for approval.'}">
                                will be replaced
                            </th:block>
                            <a th:href="@{/admin/report/companies&awaiting=true}" class="pull-right">
                                <span class="label label-warning">Go</span>
                            </a>
                        </div>
                    </div>
                </div>
            </th:block>

            <!-- if there are no requests awaiting for approval -->
            <th:block th:if="1==1">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info" role="alert">

                            <strong>Relax!</strong>
                            <th:block th:if="1==1" th:text="${'There are no requests awaiting for approval.'}">
                                will be replaced
                            </th:block>
                        </div>
                    </div>
                </div>
            </th:block>

            <!-- statistics -->
            <div class="row">
                <div class="col-md-12 ">
                    <h3 class="w3ls-hdg">Statistics</h3>
                    <div class="list-group list-group-alternate black squared">
                        <a href="#" th:href="@{/report/users}" class="list-group-item"><span class="badge badge-success" th:text="${numUsers}">999</span> # of registered users</a>
                        <a href="#" th:href="@{/report/companies}" class="list-group-item"><span class="badge badge-primary" th:text="${numCompanies}">999</span> # of companies </a>
                        <a href="#" th:href="@{/report/students}" class="list-group-item"><span class="badge badge-warning" th:text="${numStudents}">999</span> # of students </a>
                        <a href="#" th:href="@{/report/users}" class="list-group-item"><span class="badge badge-danger" th:text="${numAdmins}">999</span>  # of admins </a>
                    </div>
                </div>
            </div>


            <!-- most requested professors -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="w3ls-hdg">Most requested Professors</h3>
                    <div th:if="${!mostRequestedProfessors.isEmpty()}">
                        <table class="table table-fixed table-bordered hover-effect">
                            <thead>
                            <tr>
                                <th class="col-md-1 hidden-sm hidden-xs text-center">#</th>
                                <th class="col-xs-6 col-md-5">Professor</th>
                                <th class="col-xs-3 text-center">Num. <span class="hidden-sm hidden-xs"> of internships</span></th>
                                <th class="col-xs-3 text-right">Action</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="item, iterationStatus : ${mostRequestedProfessors}">
                                <td th:text="${iterationStatus.count}" class="col-md-1 hidden-sm hidden-xs no-border-right text-center">
                                </td>
                                <td th:text="${item.getFirstName() +' '+ item.getLastName()+' - '+item.getDepartment()}" class="col-xs-6 col-md-5 no-border-right">
                                </td>
                                <td class="col-xs-3 no-border-right text-center">
                                    <span class="badge badge-custom" th:text="${item.getCount()}">999</span>
                                </td>
                                <td class="col-xs-3 text-right">
                                    <a th:href="@{'/admin/update/professor/'+${item.getId()}}"
                                       class="btn-default-border btn-xs squared">
                                        <i class="fa fa-arrow-circle-o-right"></i>
                                        Go
                                    </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="well" th:unless="${!mostRequestedProfessors.isEmpty()}" th:text="${'No professor has been requested yet!'}">
                        Empty report message
                    </div>
                </div>
            </div>


            <!-- aziende che ospitano più tirocinanti -->
            <div class="row padding-top-30">
                <div class="col-md-12">
                    <h3 class="w3ls-hdg">Companies with most Students</h3>
                    <div th:if="${!companiesWithMostStudents.isEmpty()}">
                        <table class="table table-fixed table-bordered hover-effect">
                            <thead>
                            <tr>
                                <th class="col-md-1 hidden-sm hidden-xs text-center">#</th>
                                <th class="col-xs-6 col-md-5">Company</th>
                                <th class="col-xs-3 text-center">Num. <span class="hidden-sm hidden-xs"> of students</span></th>
                                <th class="col-xs-3 text-right">Action</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="item, iterationStatus : ${companiesWithMostStudents}">
                                <td th:text="${iterationStatus.count}" class="col-md-1 hidden-sm hidden-xs no-border-right text-center">
                                </td>
                                <td th:text="${item.getName()}" class="col-xs-6 col-md-5 no-border-right">
                                </td>
                                <td class="col-xs-3 no-border-right text-center">
                                    <span class="badge badge-custom" th:text="${item.getCount()}">999</span>
                                </td>
                                <td class="col-xs-3 text-right">
                                    <a th:href="@{'/admin/update/company/'+${item.getId()}}"
                                       class="btn-default-border btn-xs squared">
                                        <i class="fa fa-arrow-circle-o-right"></i>
                                        Go
                                    </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="well" th:unless="${!companiesWithMostStudents.isEmpty()}" th:text="${'There are no internships yet!'}">
                        Empty report message
                    </div>
                </div>
            </div>

            <!-- best companies -->
            <div class="row padding-top-30">
                <div class="col-md-12">
                    <h3 class="w3ls-hdg">Best Companies</h3>
                    <div th:if="${!bestCompanies.isEmpty()}">
                        <table class="table table-fixed table-bordered hover-effect">
                            <thead>
                            <tr>
                                <th class="col-md-1 hidden-sm hidden-xs text-center">#</th>
                                <th class="col-xs-6 col-md-5">Company</th>
                                <th class="col-xs-3 text-center">Review <span class="hidden-xs hidden-sm">(avg)</span></th>
                                <th class="col-xs-3 text-right">Action</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="item, iterationStatus : ${bestCompanies}">
                                <td th:text="${iterationStatus.count}" class="col-md-1 hidden-sm hidden-xs no-border-right text-center">
                                </td>
                                <td th:text="${item.getName()}" class="col-xs-6 col-md-5 no-border-right">
                                </td>
                                <td class="col-xs-3 no-border-right text-center">
                                    <span class="badge badge-custom" th:text="${item.getAverage()}">999</span>
                                </td>
                                <td class="col-xs-3 text-right">
                                    <a th:href="@{'/admin/update/company/'+${item.getId()}}"
                                       class="btn-default-border btn-xs squared">
                                        <i class="fa fa-arrow-circle-o-right"></i>
                                        Go
                                    </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="well" th:unless="${!bestCompanies.isEmpty()}" th:text="${'There are no companies yet!'}">
                        Empty report message
                    </div>
                </div>
            </div>

            <!-- worst companies -->
            <div class="row padding-top-30">
                <div class="col-md-12">
                    <h3 class="w3ls-hdg">Worst Companies</h3>
                    <div th:if="${!worstCompanies.isEmpty()}">
                        <table class="table table-fixed table-bordered hover-effect">
                            <thead>
                            <tr>
                                <th class="col-md-1 hidden-sm hidden-xs text-center">#</th>
                                <th class="col-xs-6 col-md-5">Company</th>
                                <th class="col-xs-3 text-center">Review <span class="hidden-xs hidden-sm">(avg)</span></th>
                                <th class="col-xs-3 text-right">Action</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="item, iterationStatus : ${worstCompanies}">
                                <td th:text="${iterationStatus.count}" class="col-md-1 hidden-sm hidden-xs no-border-right text-center">
                                </td>
                                <td th:text="${item.getName()}" class="col-xs-6 col-md-5 no-border-right">
                                </td>
                                <td class="col-xs-3 no-border-right text-center">
                                    <span class="badge badge-custom" th:text="${item.getAverage()}">999</span>
                                </td>
                                <td class="col-xs-3 text-right">
                                    <a th:href="@{'/admin/update/company/'+${item.getId()}}"
                                       class="btn-default-border btn-xs squared">
                                        <i class="fa fa-arrow-circle-o-right"></i>
                                        Go
                                    </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="well" th:unless="${!worstCompanies.isEmpty()}" th:text="${'There are no companies yet!'}">
                        Empty report message
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<!-- footer -->
<div th:replace="fragments/footer"></div>
<!-- footer -->
<!-- footer_scripts -->
<div th:replace="fragments/footer_scripts"></div>
<!-- footer_scripts -->

</body>
</html>