<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${userType+' dashboard'}"></title>
    <!-- head -->
    <meta th:replace="fragments/head :: head">
    <!-- head -->
    <!-- head_scripts -->
    <meta th:replace="fragments/head_scripts :: head_scripts">
    <!-- head_scripts -->
</head>
<body>


<!-- header -->
<div th:replace="fragments/header :: header"></div>
<!-- header -->

<div class="codes about">
    <div class="container">
        <div id="forms" class="grid_3 grid_4">

            <div class="row">
                <!-- image -->
                <div class="col-md-4">
                    <img src="" th:src="${'/files/images/'+user.getImage()}" class="form-image">
                </div>
                <!-- student details -->
                <div class="col-md-8">
                    <h3 class="w3ls-hdg">Info</h3>
                    <div class="list-group list-group-alternate black squared">
                        <span class="list-group-item"><span th:text="${user.getStudent().getMatriculationNumber()}">value</span> Matriculation #</span>
                        <span class="list-group-item"><span th:text="${user.getFirstName()}">value</span> First name</span>
                        <span class="list-group-item"><span th:text="${user.getLastName()}">value</span> Last name</span>
                        <span class="list-group-item"><span th:text="${user.getEmail()}">value</span> Email</span>
                        <span class="list-group-item"><span th:text="${user.getStudent().getDegree().getName()}">value</span> Degree</span>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>


<!-- footer -->
<div th:replace="fragments/footer"></div>
<!-- footer -->
<!-- footer_scripts -->
<div th:replace="fragments/footer_scripts"></div>
<!-- footer_scripts -->

</body>
</html>