<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create a new Degree</title>
    <!-- head -->
    <meta th:replace="fragments/head :: head">
    <!-- head -->
    <!-- head_scripts -->
    <meta th:replace="fragments/head_scripts :: head_scripts">
    <!-- head_scripts -->
</head>
<body>


<!-- header -->
<div th:replace="fragments/header :: header"></div>
<!-- header -->

<div class="codes about">
    <div class="container">
        <div id="forms" class="grid_3 grid_4">
            <div class="col-md-6">
                <h3 class="w3ls-hdg">Create a new Degree</h3>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <form method="POST" th:action="@{/create/degree}" th:object="${degree}"
                              class="form-horizontal">

                            <!-- name -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="name" class="col-sm-3 control-label">Name</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{name}" type="text" class="form-control1" id="name"
                                           placeholder="Insert degree name">
                                </div>

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('name')}"
                                         th:errors="*{name}">
                                    </div>
                                </div>

                            </div>

                            <!-- department -->
                            <div class="form-group">
                                <label for="department" class="col-sm-3 control-label">Department</label>
                                <div class="col-sm-9">
                                    <select name="department" id="department" class="form-control1">
                                        <option selected="selected" value="">-</option>
                                        <th:block th:each="department : ${departments}">
                                            <option th:value="${department.getId()}"
                                                    th:text="${department.getName()}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>

                            <!-- class -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="class" class="col-sm-3 control-label">Class</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{clazz}" type="text" class="form-control1" id="class"
                                           placeholder="Insert degree class">
                                </div>


                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('clazz')}"
                                         th:errors="*{clazz}">
                                    </div>
                                </div>

                            </div>

                            <!-- submit -->
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="submit" class="btn btn-info btn-block pull-right squared btn-lg"
                                           value="Insert"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <!-- report table-->
                <th:block th:replace="fragments/report_table_small :: report_table_small(${page}, ${degrees}, 'degree', 'Degrees')">
                    will be replaced
                </th:block>

                <!-- pagination -->
                <th:block th:replace="fragments/pagination_bar :: pagination_bar(${page})">
                    will be replaced
                </th:block>

            </div>

        </div>
    </div>

</div>


<!-- footer -->
<div th:replace="fragments/footer"></div>
<!-- footer -->
<!-- footer_scripts -->
<div th:replace="fragments/footer_scripts"></div>
<!-- footer_scripts -->

</body>
</html>