<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Department</title>
    <!-- head -->
    <meta th:replace="fragments/head :: head">
    <!-- head -->
    <!-- head_scripts -->
    <meta th:replace="fragments/head_scripts :: head_scripts">
    <!-- head_scripts -->
</head>
<body>

<!-- header -->
<div th:replace="fragments/header :: header"></div>
<!-- header -->

<div class="codes about">
    <div class="container">
        <div id="forms" class="grid_3 grid_4">
            <div class="col-md-6">
                <h3 class="w3ls-hdg">Update Department</h3>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <form method="POST" th:action="@{/update/department}" th:object="${department}"
                              class="form-horizontal">

                            <input th:field="*{id}" type="hidden" id="id">

                            <!-- name -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="name" class="col-sm-3 control-label">Name</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{name}" type="text" class="form-control1" id="name"
                                           placeholder="Insert department name">
                                </div>
                                <!-- help text
                                <div class="col-sm-2">
                                    <p class="help-block"></p>
                                </div> -->

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('name')}"
                                         th:errors="*{name}">
                                    </div>
                                </div>

                            </div>

                            <!-- descriptionItIt -->
                            <div class="form-group">
                                <label for="descriptionItIt" class="col-sm-3 control-label">Desc. (IT)</label>
                                <div class="col-sm-9">
                                    <textarea rows="3" th:field="*{descriptionItIt}" class="form-control1 textarea-long" id="descriptionItIt" placeholder="Insert italian description"></textarea>
                                </div>
                            </div>

                            <!-- descriptionEnGb -->
                            <div class="form-group">
                                <label for="descriptionEnGb" class="col-sm-3 control-label">Desc. (EN)</label>
                                <div class="col-sm-9">
                                    <textarea rows="3" th:field="*{descriptionEnGb}" class="form-control1 textarea-long" id="descriptionEnGb" placeholder="Insert english description"></textarea>
                                </div>
                            </div>

                            <!-- submit -->
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="submit" class="btn btn-info btn-block squared btn-lg"
                                           value="Update"/>
                                </div>
                            </div>


                        </form>

                        <form method="POST" th:action="@{'/delete/department/'+${department.getId()}}"
                              class="form-horizontal">
                            <!-- submit -->
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="submit" class="btn btn-danger btn-block squared btn-lg"
                                           value="Delete"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <h3 class="w3ls-hdg">Departments List</h3>
                <div th:if="${!departments.isEmpty()}">
                    <!--<table class="table-hover table table-bordered squared table-fixed">-->
                    <table class="table table-fixed table-bordered squared">
                        <thead>
                        <tr>
                            <th class="col-xs-9">Name</th>
                            <th class="col-xs-3 text-right">Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="department : ${departments}">
                            <td th:text="${department.getName()}" class="col-xs-9">
                            </td>
                            <td class="col-xs-3 text-right">
                                <a th:href="@{'/update/department/'+${department.getId()}}"
                                   class="btn-default-border btn-xs squared">
                                    <i class="fa fa-edit">
                                    </i>
                                    Edit
                                </a>

                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
                <div class="well" th:unless="${!departments.isEmpty()}">
                    There are no Departments yet!
                </div>
            </div>

        </div>

    </div>

</div>


<!-- footer -->
<div th:replace="fragments/footer"></div>
<!-- footer -->
<!-- footer_scripts -->
<div th:replace="fragments/footer_scripts"></div>
<!-- footer_scripts -->

</body>
</html>