<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create a new Department</title>
    <!-- head -->
    <meta th:replace="fragments/head :: head">
    <!-- head -->
    <!-- head_scripts -->
    <meta th:replace="fragments/head_scripts :: head_scripts">
    <!-- head_scripts -->
</head>
<body>

<!-- header -->
<div th:replace="fragments/header"></div>
<!-- header -->

<div class="codes about">
    <div class="container">
        <div id="forms" class="grid_3 grid_4">
            <h3 class="w3ls-hdg">Create a new Department</h3>
            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    <form method="POST" th:action="@{/create/department}" th:object="${department}"
                          class="form-horizontal">

                        <!-- name -->
                        <div class="form-group">


                            <!-- label -->
                            <label for="name" class="col-sm-2 control-label">Name</label>
                            <!-- input -->
                            <div class="col-sm-8">
                                <input th:field="*{name}" type="text" class="form-control1" id="name"
                                       placeholder="Insert department name">
                            </div>
                            <!-- help text -->
                            <div class="col-sm-2">
                                <p class="help-block"><!-- help text here --></p>
                            </div>
                            <!-- error box -->
                            <div class="col-sm-offset-2 col-sm-8">
                                <div class="alert alert-danger squared my-small-alert"
                                     role="alert"
                                     th:if="${#fields.hasErrors('name')}"
                                     th:errors="*{name}">
                                </div>
                            </div>

                        </div>

                        <!-- descriptionItIt -->
                        <div class="form-group">
                            <label for="descriptionItIt" class="col-sm-2 control-label">Description (it_IT)</label>
                            <div class="col-sm-8">
                                <input th:field="*{descriptionItIt}" type="text" class="form-control1"
                                       id="descriptionItIt"
                                       placeholder="Insert italian description">
                            </div>
                        </div>

                        <!-- descriptionEnGb -->
                        <div class="form-group">
                            <label for="descriptionEnGb" class="col-sm-2 control-label">Description (en_GB)</label>
                            <div class="col-sm-8">
                                <input th:field="*{descriptionEnGb}" type="text" class="form-control1"
                                       id="descriptionEnGb"
                                       placeholder="Insert english description">
                            </div>
                        </div>

                        <!-- submit -->
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="submit" class="btn btn-info pull-right squared btn-lg" value="Submit"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- footer -->
<div th:replace="fragments/footer"></div>
<!-- footer -->
<!-- footer_scripts -->
<div th:replace="fragments/footer_scripts"></div>
<!-- footer_scripts -->

</body>
</html>