<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html th:fragment="head" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- TODO add keywords -->
    <meta name="keywords" content=""/>


    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic"
          rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700" rel="stylesheet"
          type="text/css">
    <!-- //fonts -->
    <link th:href="@{/css/error.css}" rel="stylesheet" href="/static/css/style.css" type="text/css"/>

</head>
<body>
<div class="error_main">
    <div class="content margin-top-50">
        <div class="error_content">
            <span class="fa fa-frown-o"></span>
            <h2 class="agileits-title margin-bottom-20" th:text="${errorCode}"></h2>
            <p class="custom_p" th:text="${errorMessage}">error message</p>
            <a class="b-home" th:href="@{/}">Back to Home</a>
        </div>
    </div>

</div>

</body>
</html>