<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Internship</title>
    <!-- head -->
    <meta th:replace="fragments/head :: head">
    <!-- head -->
    <!-- head_scripts -->
    <meta th:replace="fragments/head_scripts :: head_scripts">
    <!-- head_scripts -->
</head>
<body>

<!-- header -->
<div th:replace="fragments/header :: header"></div>
<!-- header -->

<div class="codes about">
    <div class="container">
        <div id="forms" class="grid_3 grid_4">
            <div class="col-md-6">
                <h3 class="w3ls-hdg">Update Internship</h3>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <form method="POST" th:action="@{/update/internship}" th:object="${internship}"
                              class="form-horizontal">

                            <input th:field="*{id}" type="hidden" id="id">

                            <!-- company -->
                            <div class="form-group">
                                <label for="company" class="col-sm-3 control-label">Company</label>
                                <div class="col-sm-9">
                                    <select name="company" id="company" class="form-control1">
                                        <th:block th:each="company : ${companies}">
                                            <option th:value="${company.getId()}" th:text="${company.getName()}" th:selected="(${company.getId()} == *{company.getId()})"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>


                            <!-- title -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="title" class="col-sm-3 control-label">Title</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{title}" type="text" class="form-control1" id="title"
                                           placeholder="Insert internship title">
                                </div>

                                <!-- help text
                                <div class="col-sm-2">
                                    <p class="help-block"></p>
                                </div> -->

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('title')}"
                                         th:errors="*{title}">
                                    </div>
                                </div>
                            </div>


                            <!-- address -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="address" class="col-sm-3 control-label">Address</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{address}" type="text" class="form-control1" id="address"
                                           placeholder="Insert internship address">
                                </div>

                                <!-- help text
                                <div class="col-sm-2">
                                    <p class="help-block"></p>
                                </div> -->

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('address')}"
                                         th:errors="*{address}">
                                    </div>
                                </div>
                            </div>


                            <!-- city -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="city" class="col-sm-3 control-label">City</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{city}" type="text" class="form-control1" id="city"
                                           placeholder="Insert internship city">
                                </div>

                                <!-- help text
                                <div class="col-sm-2">
                                    <p class="help-block"></p>
                                </div> -->

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('city')}"
                                         th:errors="*{city}">
                                    </div>
                                </div>
                            </div>


                            <!-- province -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="province" class="col-sm-3 control-label">Province</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{province}" type="text" class="form-control1" id="province"
                                           placeholder="Insert internship province">
                                </div>

                                <!-- help text
                                <div class="col-sm-2">
                                    <p class="help-block"></p>
                                </div> -->

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('province')}"
                                         th:errors="*{province}">
                                    </div>
                                </div>
                            </div>


                            <!-- state -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="state" class="col-sm-3 control-label">State</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{state}" type="text" class="form-control1" id="state"
                                           placeholder="Insert internship state">
                                </div>

                                <!-- help text
                                <div class="col-sm-2">
                                    <p class="help-block"></p>
                                </div> -->

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('state')}"
                                         th:errors="*{state}">
                                    </div>
                                </div>
                            </div>


                            <!-- schedule -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="schedule" class="col-sm-3 control-label">Schedule</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{schedule}" type="text" class="form-control1" id="schedule"
                                           placeholder="Insert internship schedule">
                                </div>

                                <!-- help text
                                <div class="col-sm-2">
                                    <p class="help-block"></p>
                                </div> -->

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('schedule')}"
                                         th:errors="*{schedule}">
                                    </div>
                                </div>
                            </div>


                            <!-- length -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="length" class="col-sm-3 control-label">Length</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{length}" type="number" min="1" max="24" class="form-control1" id="length"
                                           placeholder="Insert internship length">
                                </div>

                                <!-- help text
                                <div class="col-sm-2">
                                    <p class="help-block"></p>
                                </div> -->

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('length')}"
                                         th:errors="*{length}">
                                    </div>
                                </div>
                            </div>


                            <!-- modeItIt -->
                            <div class="form-group">
                                <label for="modeItIt" class="col-sm-3 control-label">Mode (IT)</label>
                                <div class="col-sm-9">
                                    <textarea rows="3" th:field="*{modeItIt}" class="form-control1 textarea-long"
                                              id="modeItIt" placeholder="Insert italian mode"></textarea>
                                </div>
                            </div>

                            <!-- modeEnGb -->
                            <div class="form-group">
                                <label for="modeEnGb" class="col-sm-3 control-label">Mode (EN)</label>
                                <div class="col-sm-9">
                                    <textarea rows="3" th:field="*{modeEnGb}" class="form-control1 textarea-long"
                                              id="modeEnGb" placeholder="Insert english mode"></textarea>
                                </div>
                            </div>


                            <!-- goalsItIt -->
                            <div class="form-group">
                                <label for="goalsItIt" class="col-sm-3 control-label">Goals (IT)</label>
                                <div class="col-sm-9">
                                    <textarea rows="3" th:field="*{goalsItIt}" class="form-control1 textarea-long"
                                              id="goalsItIt" placeholder="Insert italian goals"></textarea>
                                </div>
                            </div>

                            <!-- goalsEnGb -->
                            <div class="form-group">
                                <label for="goalsEnGb" class="col-sm-3 control-label">Goals (EN)</label>
                                <div class="col-sm-9">
                                    <textarea rows="3" th:field="*{goalsEnGb}" class="form-control1 textarea-long"
                                              id="goalsEnGb" placeholder="Insert english goals"></textarea>
                                </div>
                            </div>


                            <!-- detailsItIt -->
                            <div class="form-group">
                                <label for="detailsItIt" class="col-sm-3 control-label">Details (IT)</label>
                                <div class="col-sm-9">
                                    <textarea rows="3" th:field="*{detailsItIt}" class="form-control1 textarea-long"
                                              id="detailsItIt" placeholder="Insert italian details"></textarea>
                                </div>
                            </div>

                            <!-- goalsEnGb -->
                            <div class="form-group">
                                <label for="detailsEnGb" class="col-sm-3 control-label">Details (EN)</label>
                                <div class="col-sm-9">
                                    <textarea rows="3" th:field="*{detailsEnGb}" class="form-control1 textarea-long"
                                              id="detailsEnGb" placeholder="Insert english details"></textarea>
                                </div>
                            </div>


                            <!-- facilitations -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="facilitations" class="col-sm-3 control-label">Facilitations</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{facilitations}" type="text" class="form-control1"
                                           id="facilitations"
                                           placeholder="Insert internship facilitations">
                                </div>

                                <!-- help text
                                <div class="col-sm-2">
                                    <p class="help-block"></p>
                                </div> -->

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('facilitations')}"
                                         th:errors="*{facilitations}">
                                    </div>
                                </div>
                            </div>


                            <!-- checkboxes -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Options</label>
                                <div class="col-sm-9">
                                    <div class="checkbox-inline"><label><input th:field="*{remote}" type="checkbox"> Remote</label></div>
                                    <div class="checkbox-inline"><label><input th:field="*{refund}" type="checkbox"> Refund</label></div>
                                    <div class="checkbox-inline"><label><input th:field="*{active}" type="checkbox"> Active</label></div>
                                </div>
                            </div>

                            <!-- submit -->
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="submit" class="btn btn-info btn-block squared btn-lg"
                                           value="Update"/>
                                </div>
                            </div>


                        </form>

                        <form method="POST" th:action="@{'/delete/internship/'+${internship.getId()}}"
                              class="form-horizontal">
                            <!-- submit -->
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="submit" class="btn btn-danger btn-block squared btn-lg"
                                           value="Delete"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <!-- report table-->
                <th:block th:replace="fragments/report_table_small :: report_table_small(${page}, ${internships}, 'internship', 'Internships')">
                    will be replaced
                </th:block>

                <!-- pagination -->
                <th:block th:replace="fragments/pagination_bar :: pagination_bar(${page})">
                    will be replaced
                </th:block>
            </div>

        </div>

    </div>

</div>


<!-- footer -->
<div th:replace="fragments/footer"></div>
<!-- footer -->
<!-- footer_scripts -->
<div th:replace="fragments/footer_scripts"></div>
<!-- footer_scripts -->

</body>
</html>