<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${internship.getTitle()}"></title>
    <!-- head -->
    <meta th:replace="fragments/head :: head">
    <!-- head -->
    <!-- head_scripts -->
    <meta th:replace="fragments/head_scripts :: head_scripts">
    <!-- head_scripts -->
</head>
<body>


<!-- header -->
<div th:replace="fragments/header :: header"></div>
<!-- header -->

<div class="codes about">
    <div class="container">
        <div id="forms" class="grid_3 grid_4">

            <div class="row margin-bottom-30">
                <!-- image -->
                <div class="col-md-4 margin-top-20">
                    <img src="" th:src="@{${'/files/images/'+ user.getImage()}}" class="profile-image">
                </div>
                <!-- student details -->
                <div class="col-md-8">
                    <h3 class="w3ls-hdg margin-bottom-10" th:text="${internship.getTitle()}"></h3>
                    <p th:text="${company.getName()}"></p>
                    <div class="list-group list-group-alternate my-group-list squared">
                        <span class="list-group-item"><span class="badge" th:text="${internship.getLength()} + ' Hours'">value</span> Length</span>
                        <span class="list-group-item"><span class="badge" th:text="${internship.getState()}">value</span> State</span>
                        <span class="list-group-item"><span class="badge" th:text="${internship.getCity()}">value</span> City</span>
                        <span class="list-group-item"><span class="badge" th:text="${internship.getProvince()}">value</span> Province</span>
                        <span class="list-group-item"><span class="badge" th:text="${internship.getAddress()}">value</span> Address</span>

                    </div>
                </div>
            </div>

            <!-- Description -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="w3ls-hdg">Description</h3>
                    <p th:text="${internship.getDetailsEnGb()}">
                    </p>
                </div>
            </div>


            <!-- Modality -->
            <div class="row padding-top-30">
                <div class="col-md-12">
                    <h3 class="w3ls-hdg">Modality</h3>
                    <p th:text="${internship.getModeEnGb()}">
                    </p>
                </div>
            </div>

            <!-- Goals -->
            <div class="row padding-top-30">
                <div class="col-md-12">
                    <h3 class="w3ls-hdg">Goals</h3>
                    <p th:text="${internship.getGoalsEnGb()}">
                    </p>
                </div>
            </div>

            <!-- Schedule -->
            <div class="row padding-top-30">
                <div class="col-md-12">
                    <h3 class="w3ls-hdg">Schedule</h3>
                    <p th:text="${internship.getSchedule()}">
                    </p>
                </div>
            </div>

            <div class="row padding-top-30">
                <div class="col-md-6">
                    <h3 class="w3ls-hdg">Facilitations</h3>
                    <p th:text="${internship.getFacilitations()}">
                    </p>
                </div>
                <div class="col-md-6">
                    <h3 class="w3ls-hdg">Further Informations</h3>
                    <div class="list-group list-group-alternate my-group-list squared">
                        <span class="list-group-item"><span class="badge" th:text="${internship.getRefund() ? 'Yes' : 'No'}">value</span> Refunds</span>
                        <span class="list-group-item"><span class="badge" th:text="${internship.getRefund() ? 'Yes' : 'No'}">value</span> Work remotely</span>
                    </div>
                </div>
            </div>



            <!-- submit -->
            <div sec:authorize="isAnonymous() || hasRole('STUDENT')" class="row padding-top-30">
                <div class="col-md-12">
                <h3 class="w3ls-hdg">Apply Request</h3>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <form method="POST" th:action="@{'/internship/' + ${internship.getId()}}" th:object="${studentInternship}"
                              class="form-horizontal">

                            <!-- internship -->
                            <input th:field="*{internship}" type="hidden" name="internship" id="internship" th:value="${internship.getId()}">

                            <!-- student -->
                            <input th:field="*{student}" type="hidden" name="student" id="student" value="1">

                            <!-- department -->
                            <div class="form-group">
                                <label for="professor" class="col-sm-3 control-label">Ass. Professor</label>
                                <div class="col-sm-6">
                                    <select th:field="*{professor}" name="professor" id="professor" class="form-control1">
                                        <option selected="selected" value="">-</option>
                                        <th:block th:each="professor : ${professors}">
                                            <option th:value="${professor.getId()}"
                                                    th:text="'Prof. '+${professor.getLastName() +' '+ professor.getFirstName()}"></option>
                                        </th:block>
                                    </select>
                                </div>

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-6">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('professor')}"
                                         th:errors="*{professor}">
                                    </div>
                                </div>
                            </div>


                            <!-- length -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="cfu" class="col-sm-3 control-label">CFU needed</label>
                                <!-- input -->
                                <div class="col-sm-6">
                                    <input th:field="*{cfu}" type="number" min="1" max="180" required="required"
                                           class="form-control1" id="cfu"
                                           placeholder="Insert needed CFUs for this Internship">
                                </div>

                                <!-- help text -->
                                <div class="col-sm-2">
                                    <p class="help-block"></p>
                                </div>

                                <!-- error box-->
                                <div class="col-sm-offset-3 col-sm-6">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('cfu')}"
                                         th:errors="*{cfu}">
                                    </div>
                                </div>
                            </div>

                            <!-- submit -->
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-6">
                                    <input type="submit" class="btn btn-info btn-block pull-right squared btn-lg"
                                           value="Apply for this Internship"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

</div>

</div>
</div>


<!-- footer -->
<div th:replace="fragments/footer"></div>
<!-- footer -->
<!-- footer_scripts -->
<div th:replace="fragments/footer_scripts"></div>
<!-- footer_scripts -->

</body>
</html>