<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create a new Professor</title>
    <!-- head -->
    <meta th:replace="fragments/head :: head">
    <!-- head -->
    <!-- head_scripts -->
    <meta th:replace="fragments/head_scripts :: head_scripts">
    <!-- head_scripts -->
</head>
<body>



<!-- header -->
<div th:replace="fragments/header :: header"></div>
<!-- header -->

<div class="codes about">
    <div class="container">
        <div id="forms" class="grid_3 grid_4">
            <div class="col-md-6">
                <h3 class="w3ls-hdg">Create a new Professor</h3>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <form method="POST" th:action="@{/create/professor}" th:object="${professor}"
                              class="form-horizontal">

                            <!-- firstName -->
                            <div class="form-group">
                                <!-- label -->
                                <label for="firstName" class="col-sm-3 control-label">First Name</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{firstName}" type="text" class="form-control1" id="firstName"
                                           placeholder="Insert professor first name">
                                </div>

                                <!-- help text
                                <div class="col-sm-2">
                                    <p class="help-block"></p>
                                </div> -->

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('firstName')}"
                                         th:errors="*{firstName}">
                                    </div>
                                </div>
                            </div>


                            <!-- lastName -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{lastName}" type="text" class="form-control1" id="lastName"
                                           placeholder="Insert professor last name">
                                </div>

                                <!-- help text
                                <div class="col-sm-2">
                                    <p class="help-block"></p>
                                </div> -->

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('lastName')}"
                                         th:errors="*{lastName}">
                                    </div>
                                </div>

                            </div>


                            <!-- email -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="email" class="col-sm-3 control-label">Email</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{email}" type="email" class="form-control1" id="email"
                                           placeholder="Insert professor email">
                                </div>

                                <!-- help text
                                <div class="col-sm-2">
                                    <p class="help-block"></p>
                                </div> -->

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('email')}"
                                         th:errors="*{email}">
                                    </div>
                                </div>

                            </div>


                            <!-- department -->
                            <div class="form-group">
                                <label for="department" class="col-sm-3 control-label">Department</label>
                                <div class="col-sm-9">
                                    <select name="department" id="department" class="form-control1">
                                        <option selected="selected"  value = "">-</option>
                                        <th:block th:each="department : ${departments}">
                                            <option th:value="${department.getId()}"
                                                    th:text="${department.getName()}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>

                            <!-- submit -->
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="submit" class="btn btn-info btn-block pull-right squared btn-lg" value="Insert"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- report table-->
                <th:block th:replace="fragments/report_table_small :: report_table_small(${page}, ${professors}, 'professor', 'Professors')">
                    will be replaced
                </th:block>

                <!-- pagination -->
                <th:block th:replace="fragments/pagination_bar :: pagination_bar(${page})">
                    will be replaced
                </th:block>
            </div>
        </div>

    </div>
</div>



<!-- footer -->
<div th:replace="fragments/footer"></div>
<!-- footer -->
<!-- footer_scripts -->
<div th:replace="fragments/footer_scripts"></div>
<!-- footer_scripts -->

</body>
</html>