<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create a new Student</title>
    <!-- head -->
    <meta th:replace="fragments/head :: head">
    <!-- head -->
    <!-- head_scripts -->
    <meta th:replace="fragments/head_scripts :: head_scripts">
    <!-- head_scripts -->
</head>
<body>



<!-- header -->
<div th:replace="fragments/header :: header"></div>
<!-- header -->

<div class="codes about">
    <div class="container">
        <div id="forms" class="grid_3 grid_4">
            <div class="col-md-6">
                <h3 class="w3ls-hdg">Create a new Student</h3>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <form method="POST" th:action="@{/admin/create/student}" th:object="${student}"
                              class="form-horizontal">

                            <!-- matriculationNumber -->
                            <div class="form-group">
                                <!-- label -->
                                <label for="matriculationNumber" class="col-sm-3 control-label">Matriculation Number</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{matriculationNumber}" type="text" required="required" class="form-control1" id="matriculationNumber"
                                           placeholder="Insert student matriculation number">
                                </div>

                                <!-- help text
                                <div class="col-sm-2">
                                    <p class="help-block"></p>
                                </div> -->

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('matriculationNumber')}"
                                         th:errors="*{matriculationNumber}">
                                    </div>
                                </div>
                            </div>

                            <!-- degree -->
                            <div class="form-group">
                                <label for="degree" class="col-sm-3 control-label">Degree</label>
                                <div class="col-sm-9">
                                    <select name="degree" id="degree" class="form-control1">
                                        <option selected="selected" value = "">-</option>
                                        <th:block th:each="degree : ${degrees}">
                                            <option th:value="${degree.getId()}"
                                                    th:text="${degree.getName()}"></option>
                                        </th:block>
                                    </select>
                                </div>

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('degree')}"
                                         th:errors="*{degree}">
                                    </div>
                                </div>
                            </div>


                            <!-- birthday -->
                            <div class="form-group">
                                <!-- label -->
                                <label for="birthday" class="col-sm-3 control-label">Birthday</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{birthday}" type="date" class="form-control1" required="required" id="birthday"
                                           pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}"
                                           placeholder="dd/mm/yyyy">
                                </div>

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('birthday')}"
                                         th:errors="*{birthday}">
                                    </div>
                                </div>
                            </div>

                            <!-- birthplaceCity -->
                            <div class="form-group">
                                <!-- label -->
                                <label for="birthplaceCity" class="col-sm-3 control-label">Birthplace city</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{birthplaceCity}" type="text" class="form-control1" required="required" id="birthplaceCity"
                                           placeholder="Insert student birthplace city">
                                </div>

                                <!-- help text
                                <div class="col-sm-2">
                                    <p class="help-block"></p>
                                </div> -->

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('birthplaceCity')}"
                                         th:errors="*{birthplaceCity}">
                                    </div>
                                </div>
                            </div>


                            <!-- birthplaceProvince -->
                            <div class="form-group">
                                <!-- label -->
                                <label for="birthplaceProvince" class="col-sm-3 control-label">Birthplace province</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{birthplaceProvince}" type="text" required="required" class="form-control1" id="birthplaceProvince"
                                           placeholder="Insert student birthplace province">
                                </div>

                                <!-- help text
                                <div class="col-sm-2">
                                    <p class="help-block"></p>
                                </div> -->

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('birthplaceProvince')}"
                                         th:errors="*{birthplaceProvince}">
                                    </div>
                                </div>
                            </div>


                            <!-- birthplaceState -->
                            <div class="form-group">
                                <!-- label -->
                                <label for="birthplaceState" class="col-sm-3 control-label">Birthplace state</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{birthplaceState}" type="text" required="required" class="form-control1" id="birthplaceState"
                                           placeholder="Insert student birthplace state">
                                </div>

                                <!-- help text
                                <div class="col-sm-2">
                                    <p class="help-block"></p>
                                </div> -->

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('birthplaceState')}"
                                         th:errors="*{birthplaceState}">
                                    </div>
                                </div>
                            </div>


                            <!-- fiscalCode -->
                            <div class="form-group">
                                <!-- label -->
                                <label for="fiscalCode" class="col-sm-3 control-label">Fiscal code </label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{fiscalCode}" type="text" required="required" class="form-control1" id="fiscalCode"
                                           placeholder="Insert student fiscal code">
                                </div>

                                <!-- help text
                                <div class="col-sm-2">
                                    <p class="help-block"></p>
                                </div> -->

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('fiscalCode')}"
                                         th:errors="*{fiscalCode}">
                                    </div>
                                </div>
                            </div>


                            <!-- residenceAddress -->
                            <div class="form-group">
                                <!-- label -->
                                <label for="residenceAddress" class="col-sm-3 control-label">Residence address </label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{residenceAddress}" type="text" required="required" class="form-control1" id="residenceAddress"
                                           placeholder="Insert student residence address">
                                </div>

                                <!-- help text
                                <div class="col-sm-2">
                                    <p class="help-block"></p>
                                </div> -->

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('residenceAddress')}"
                                         th:errors="*{residenceAddress}">
                                    </div>
                                </div>
                            </div>


                            <!-- residenceCity -->
                            <div class="form-group">
                                <!-- label -->
                                <label for="residenceCity" class="col-sm-3 control-label">Residence city </label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{residenceCity}" type="text" required="required" class="form-control1" id="residenceCity"
                                           placeholder="Insert student residence city">
                                </div>

                                <!-- help text
                                <div class="col-sm-2">
                                    <p class="help-block"></p>
                                </div> -->

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('residenceCity')}"
                                         th:errors="*{residenceCity}">
                                    </div>
                                </div>
                            </div>


                            <!-- residenceProvince -->
                            <div class="form-group">
                                <!-- label -->
                                <label for="residenceProvince" class="col-sm-3 control-label">Residence province </label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{residenceProvince}" type="text" required="required" class="form-control1" id="residenceProvince"
                                           placeholder="Insert student residence province">
                                </div>

                                <!-- help text
                                <div class="col-sm-2">
                                    <p class="help-block"></p>
                                </div> -->

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('residenceProvince')}"
                                         th:errors="*{residenceProvince}">
                                    </div>
                                </div>
                            </div>

                            <!-- residenceState -->
                            <div class="form-group">
                                <!-- label -->
                                <label for="residenceState" class="col-sm-3 control-label">Residence state</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{residenceState}" type="text" required="required" class="form-control1" id="residenceState"
                                           placeholder="Insert student residence state">
                                </div>

                                <!-- help text
                                <div class="col-sm-2">
                                    <p class="help-block"></p>
                                </div> -->

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('residenceState')}"
                                         th:errors="*{residenceState}">
                                    </div>
                                </div>
                            </div>



                            <!-- checkbox -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Option</label>
                                <div class="col-sm-9">
                                    <div class="checkbox-inline"><label><input th:field="*{handicap}" type="checkbox"> Handicap</label></div>
                                </div>
                            </div>




                            <!-- submit -->
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="submit" class="btn btn-info btn-block pull-right squared btn-lg" value="Insert"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- report table-->
                <th:block th:replace="fragments/report_table_small :: report_table_small(${page}, ${students}, 'student', 'Students')">
                    will be replaced
                </th:block>

                <!-- pagination -->
                <th:block th:if="${!students.isEmpty()}">
                    <th:block th:replace="fragments/pagination_bar :: pagination_bar(${page})">
                        will be replaced
                    </th:block>
                </th:block>
            </div>
        </div>

    </div>
</div>



<!-- footer -->
<div th:replace="fragments/footer"></div>
<!-- footer -->
<!-- footer_scripts -->
<div th:replace="fragments/footer_scripts"></div>
<!-- footer_scripts -->

</body>
</html>