<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update User</title>
    <!-- head -->
    <meta th:replace="fragments/head :: head">
    <!-- head -->
    <!-- head_scripts -->
    <meta th:replace="fragments/head_scripts :: head_scripts">
    <!-- head_scripts -->
</head>
<body>



<!-- header -->
<div th:replace="fragments/header :: header"></div>
<!-- header -->

<div class="codes about">
    <div class="container">
        <div id="forms" class="grid_3 grid_4">
            <div class="col-md-6">
                <h3 class="w3ls-hdg">Update User</h3>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <form method="POST"
                              th:action="@{/admin/update/user}"
                              th:object="${user}"
                              enctype="multipart/form-data"
                              class="form-horizontal">

                            <input th:field="*{id}" type="hidden" id="id">

                            <!-- roles -->
                            <div class="form-group">
                                <label for="role" class="col-sm-3 control-label">Role</label>
                                <div class="col-sm-9">
                                    <select name="role" id="role" class="form-control1">
                                        <option selected="selected"  value = "">-</option>
                                        <th:block th:each="role : ${roles}">
                                            <option th:value="${role.getId()}" th:text="${role.getName()}" th:selected="(${role.getId()} == *{role?.getId()})"></option>
                                        </th:block>
                                    </select>
                                </div>

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('role')}"
                                         th:errors="*{role}">
                                    </div>
                                </div>
                            </div>

                            <!-- students -->
                            <div class="form-group">
                                <label for="student" class="col-sm-3 control-label">Associated Student</label>
                                <div class="col-sm-9">
                                    <select name="student" id="student" class="form-control1">
                                        <option selected="selected"  value = "">-</option>
                                        <th:block th:each="student : ${students}">
                                            <option th:value="${student.getId()}" th:text="${student.getMatriculationNumber()}" th:selected="(${student.getId()} == *{student?.getId()})"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>

                            <!-- companies -->
                            <div class="form-group">
                                <label for="company" class="col-sm-3 control-label">Associated Company</label>
                                <div class="col-sm-9">
                                    <select name="company" id="company" class="form-control1">
                                        <option selected="selected"  value = "">-</option>
                                        <th:block th:each="company : ${companies}">
                                            <option th:value="${company.getId()}" th:text="${company.getName()}" th:selected="(${company.getId()} == *{company?.getId()})"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>

                            <!-- email -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="email" class="col-sm-3 control-label">Email</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{email}" type="email"
                                           class="form-control1"
                                           id="email"
                                           readonly="readonly">
                                </div>

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('email')}"
                                         th:errors="*{email}">
                                    </div>
                                </div>

                            </div>

                            <!-- password -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="password" class="col-sm-3 control-label">Password</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input type="password" id="password" class="form-control1"
                                           placeholder="************"
                                           readonly="readonly">
                                </div>


                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('password')}"
                                         th:errors="*{password}">
                                    </div>
                                </div>

                            </div>

                            <!-- first name -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="firstName" class="col-sm-3 control-label">First Name</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{firstName}" type="text" required="required" class="form-control1" id="firstName"
                                           placeholder="Insert First Name">
                                </div>


                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('firstName')}"
                                         th:errors="*{firstName}">
                                    </div>
                                </div>

                            </div>

                            <!-- last name -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{lastName}" type="text" required="required" class="form-control1" id="lastName"
                                           placeholder="Insert Last Name">
                                </div>

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('lastName')}"
                                         th:errors="*{lastName}">
                                    </div>
                                </div>

                            </div>

                            <!-- phone number -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="lastName" class="col-sm-3 control-label">Phone Number</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{phoneNumber}" type="tel" required="required" class="form-control1" id="phoneNumber"
                                           placeholder="Insert Phone Number">
                                </div>

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('phoneNumber')}"
                                         th:errors="*{phoneNumber}">
                                    </div>
                                </div>

                            </div>


                            <!-- current image -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="image" class="col-sm-3 control-label">Current Image</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <img th:src="@{'/files/images/' + *{image}}" src="/static/images/default.jpg" class="form-image"/>
                                    <input type="hidden" th:field="*{image}" name="image" id="image">
                                </div>

                            </div>

                            <!-- new image -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="imageFile" class="col-sm-3 control-label">Image</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input  type="file" class="form-control1 file-upload" id="imageFile" name="imageFile"
                                            placeholder="Upload an image">
                                </div>

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('image')}"
                                         th:errors="*{image}">
                                    </div>
                                </div>

                            </div>

                            <!-- submit -->
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="submit" class="btn btn-info btn-block squared btn-lg"
                                           value="Update"/>
                                </div>
                            </div>


                        </form>

                        <form method="POST" th:action="@{'/admin/delete/user/'+${user.getId()}}"
                              class="form-horizontal">
                            <!-- submit -->
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="submit" class="btn btn-danger btn-block squared btn-lg"
                                           value="Delete"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- report table-->
                <th:block th:replace="fragments/report_table_small :: report_table_small(${page}, ${users}, 'user', 'Users')">
                    will be replaced
                </th:block>

                <!-- pagination -->
                <th:block th:if="${!users.isEmpty()}">
                    <th:block th:replace="fragments/pagination_bar :: pagination_bar(${page})">
                        will be replaced
                    </th:block>
                </th:block>
            </div>
        </div>

    </div>
</div>



<!-- footer -->
<div th:replace="fragments/footer"></div>
<!-- footer -->
<!-- footer_scripts -->
<div th:replace="fragments/footer_scripts"></div>
<!-- footer_scripts -->

</body>
</html>