<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update User</title>
    <!-- head -->
    <meta th:replace="fragments/head :: head">
    <!-- head -->
    <!-- head_scripts -->
    <meta th:replace="fragments/head_scripts :: head_scripts">
    <!-- head_scripts -->
</head>
<body>



<!-- header -->
<div th:replace="fragments/header :: header"></div>
<!-- header -->

<div class="codes about">
    <div class="container">
        <div id="forms" class="grid_3 grid_4">
            <div class="col-md-6">
                <h3 class="w3ls-hdg">Update User</h3>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <form method="POST"
                              th:action="@{/update/user}"
                              th:object="${user}"
                              enctype="multipart/form-data"
                              class="form-horizontal">

                            <input th:field="*{id}" type="hidden" id="id">

                            <!-- email -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="email" class="col-sm-3 control-label">Email</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{email}" type="email"
                                           class="form-control1"
                                           id="email"
                                           readonly="readonly">
                                </div>

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('email')}"
                                         th:errors="*{email}">
                                    </div>
                                </div>

                            </div>

                            <!-- password -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="password" class="col-sm-3 control-label">Password</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input type="password" class="form-control1"
                                           placeholder="************"
                                           readonly="readonly">
                                </div>


                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('password')}"
                                         th:errors="*{password}">
                                    </div>
                                </div>

                            </div>

                            <!-- first name -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="firstName" class="col-sm-3 control-label">First Name</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{firstName}" type="text" class="form-control1" id="firstName"
                                           placeholder="Insert First Name">
                                </div>


                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('firstName')}"
                                         th:errors="*{firstName}">
                                    </div>
                                </div>

                            </div>

                            <!-- last name -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{lastName}" type="text" class="form-control1" id="lastName"
                                           placeholder="Insert Last Name">
                                </div>

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('lastName')}"
                                         th:errors="*{lastName}">
                                    </div>
                                </div>

                            </div>

                            <!-- phone number -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="lastName" class="col-sm-3 control-label">Phone Number</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input th:field="*{phoneNumber}" type="text" class="form-control1" id="phoneNumber"
                                           placeholder="Insert Phone Number">
                                </div>

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('phoneNumber')}"
                                         th:errors="*{phoneNumber}">
                                    </div>
                                </div>

                            </div>


                            <!-- current image -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="image" class="col-sm-3 control-label">Current Image</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <img th:src="@{'/files/images/' + *{image}}" src="/static/images/default.jpg" class="form-image"/>
                                    <input type="hidden" th:field="*{image}" name="image" id="image">
                                </div>

                            </div>

                            <!-- new image -->
                            <div class="form-group">


                                <!-- label -->
                                <label for="imageFile" class="col-sm-3 control-label">Image</label>
                                <!-- input -->
                                <div class="col-sm-9">
                                    <input  type="file" class="form-control1 file-upload" id="imageFile" name="imageFile"
                                            placeholder="Upload an image">
                                </div>

                                <!-- error box -->
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="alert alert-danger squared my-small-alert"
                                         role="alert"
                                         th:if="${#fields.hasErrors('image')}"
                                         th:errors="*{image}">
                                    </div>
                                </div>

                            </div>

                            <!-- submit -->
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="submit" class="btn btn-info btn-block squared btn-lg"
                                           value="Update"/>
                                </div>
                            </div>


                        </form>

                        <form method="POST" th:action="@{'/delete/user/'+${user.getId()}}"
                              class="form-horizontal">
                            <!-- submit -->
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="submit" class="btn btn-danger btn-block squared btn-lg"
                                           value="Delete"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="w3ls-hdg">Users List</h3>
                <div th:if="${!users.isEmpty()}">
                    <!--<table class="table-hover table table-bordered squared table-fixed">-->
                    <table class="table table-fixed table-bordered squared">
                        <thead>
                        <tr>
                            <th class="col-xs-9">Name</th>
                            <th class="col-xs-3 text-right">Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.getEmail()}" class="col-xs-9">
                            </td>
                            <td class="col-xs-3 text-right">
                                <a th:href="@{'/update/user/'+${user.getId()}}"
                                   class="btn-default-border btn-xs squared">
                                    <i class="fa fa-edit">
                                    </i>
                                    Edit
                                </a>

                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <div class="well" th:unless="${!users.isEmpty()}">
                        There are no Users yet!
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<!-- footer -->
<div th:replace="fragments/footer"></div>
<!-- footer -->
<!-- footer_scripts -->
<div th:replace="fragments/footer_scripts"></div>
<!-- footer_scripts -->

</body>
</html>